.hidden {
	visibility: hidden;
}

.button {
	color: #ffffff;
	background-color: #0083c5;
	border-radius: 0.5em;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 14px;
	margin-left: 10px;
}
