* {
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}
body {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    border: none;
    border-bottom: solid 2px #0070af;
    background-color: rgb(152, 186, 202);
    transition: border 0.3s;
    padding: 5px;
    font-size: 20px;
}

input:focus {
    outline: none;
}
