.wordRows {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.wordRow {
	display: flex;
	width: 100%;
}

.wordRow > div {
	flex: 1;
}

.wordRow > div > input {
	width: 100%;
}

.addWord {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
