.header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
    left: 0px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .header li {
    display: block;
    padding: 10px 15px;
    border-right: 1px solid #0070af;
    text-decoration: none;
  }

  .header li.active:before {
      content: "> ";
  }

  .header li.title {
    background-color: #ffc907;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
  }
  
 .header .logo {
    display: block;
    float: left;
    padding: 5px 10px;
  }
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon-before,
  .header .menu-icon .navicon-after {
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon-before {
    top: 5px;
  }
  
  .header .menu-icon .navicon-after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }
  
  .header.showMenu .menu {
    max-height: 620px;
  }
  
  .header.showMenu .menu-icon .navicon {
    background-color: transparent !important;
  }
  
  .header.showMenu .menu-icon .navicon-before {
    transform: rotate(-45deg);
  }
  
  .header.showMenu .menu-icon .navicon-after {
    transform: rotate(45deg);
  }
  
  .header.showMenu .menu-icon:not(.steps) .navicon-before,
  .header.showMenu .menu-icon:not(.steps) .navicon-after {
    top: 0;
  }