.toggle {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 15px;
}
.toggle div {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
