input[type="text"],
input[type="password"] {
	border: none;
	border-bottom: solid 2px #383838;
	background-color: #ddd;
	transition: border 0.3s;
	width: 100%;
	padding: 5px;
	font-size: 20px;
}

input[type="submit"] {
	border: none;
	font-size: 22px;
	color: #c7c7c7;
	background-color: #383838;
	border-radius: 0.5em;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 14px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #ffffff;
}
